VITE_SUPABASE_URL=https://kshbtukxmqvhbwqcddqt.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzaGJ0dWt4bXF2aGJ3cWNkZHF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODMyNDA5NjEsImV4cCI6MTk5ODgxNjk2MX0.XuZNQeYxWiUdOHyx5usWmaQqMu4k3TmRYyOFkZ_R_vo